html {
  .resumePage {
    height: auto;
    width: 80%;
    max-height: 80%;
    border-radius: 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-image: linear-gradient(rgb(86, 191, 233), rgb(182, 216, 229));
    text-align: center;
    font-size: smaller;

    &__header {
      h2 {
        padding: 2rem;
      }
      border-bottom: 1px white solid;
    }

    &__experience {
      width: 90%;
      margin-left: 5%;
      margin-top: 3%;
      margin-bottom: 3%;

      .timeline {
        &__title {
          h3 {
            padding: 1rem;
          }
          text-align: left;
        }
        &__content {
          border-left: 3px ridge white;

          &__item {
            border-left: solid;
            text-align: justify;
            position: relative;
            padding: 15px 20px 10px;
            margin-left: 20px;
            margin-bottom: 20px;
            border: 1px solid rgb(184, 218, 231);
            border-left: 1px solid rgb(31, 169, 224);
            &:hover {
              box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
            }
            &::before {
              content: "";
              display: inline-block;
              position: absolute;
              background-color: rgb(31, 169, 224);
              width: 10px;
              height: 10px;
              top: 22px;
              left: -28px;
              border: 1px solid rgb(31, 169, 224);
              z-index: 2;
            }
            &::after {
              content: "";
              display: inline-block;
              position: absolute;
              background-color: rgb(31, 169, 224);
              width: 28px;
              height: 2px;
              top: 26px;
              left: -28px;
              z-index: 1;
            }
          }
        }
      }
    }
    &__skill {
      width: 90%;
      margin-left: 5%;
      margin-top: 1%;
      margin-bottom: 3%;
      .skill {
        &__title {
          h3 {
            padding: 1rem;
          }
          text-align: left;
        }
        &__item {
          text-align: justify;
          margin-top: 1rem;
          margin-bottom: 1rem;
          h4 {
            font-size: small;
            margin-bottom: 1rem;
          }

          .skillContainer {
            display: flex;
            flex-direction: row;
          }

          .skill1__p1 {
            height: 10px;
            width: 80%;
            background-color: skyblue;
          }
          .skill1__p2 {
            height: 10px;
            width: 20%;
            background-color: white;
          }
          .skill2__p1 {
            height: 10px;
            width: 60%;
            background-color: skyblue;
          }
          .skill2__p2 {
            height: 10px;
            width: 40%;
            background-color: white;
          }
          .skill3__p1 {
            height: 10px;
            width: 50%;
            background-color: skyblue;
          }
          .skill3__p2 {
            height: 10px;
            width: 50%;
            background-color: white;
          }
          .skill4__p1 {
            height: 10px;
            width: 40%;
            background-color: skyblue;
          }

          .skill4__p2 {
            height: 10px;
            width: 60%;
            background-color: white;
          }
          .skill5__p1 {
            height: 10px;
            width: 90%;
            background-color: skyblue;
          }
          .skill5__p2 {
            height: 10px;
            width: 10%;
            background-color: white;
          }
          .skill6__p1 {
            height: 10px;
            width: 75%;
            background-color: skyblue;
          }
          .skill6__p2 {
            height: 10px;
            width: 25%;
            background-color: white;
          }
        }
      }
    }
  }
}
